<section class="footer-section" style="position: fixed; bottom: 0; width: 100%;">
    <footer class="text-center text-white" style="background-color: #253e88;">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.4);">
        © 2024:
        <a class="text-white" href="/">Nurdaulet Khaimuldin</a>
      </div>
    </footer>
</section>

